@model List<AdminJobWeb.Models.Applicant.Education>
@{
    ViewData["Title"] = "Admin Dashboard - Education List";
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">Education List</h5>
        <button id="addEducation" class="btn btn-primary btn-sm">
            <i class="bx bx-plus me-1"></i> Add Education
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover" id="tableList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Lokasi</th>
                        <th>Add ID</th>
                        <th>Add Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @{
                        var i = 1;
                        foreach (var item in Model)
                        {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.nama</td>
                                    <td>@item.lokasi</td>
                                    <td>@item.addId</td>
                                    <td>@item.addTime?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    <td class="@(item.status=="Active"?"text-success":"text-danger")">@item.status</td>
                                    <td>
                                        @if (item.status == "Active")
                                    {
                                        <form asp-action="InactiveEducation" asp-controller="Applicant" method="post" class="d-inline InactiveEducation">
                                                <input type="hidden" name="id" value="@item._id" />
                                            <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
                                                <button type="submit" class="btn btn-warning btn-sm">
                                                    <i class="bx bx-block me-1"></i> Inactive
                                                </button>
                                            </form>
                                    }
                                    else
                                    {
                                        <form asp-action="ActivateEducation" asp-controller="Applicant" method="post" class="d-inline ActivateEducation">
                                                <input type="hidden" name="id" value="@item._id" />
                                            <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    <i class="bx bx-check me-1"></i> Activate
                                                </button>
                                            </form>
                                    }
                                       <button id="EditEducation" class="btn btn-primary btn-sm EditEducation" data-itemid="@item._id">
                                            <i class="bx bx-edit me-1"></i> Edit
                                        </button>
                                    <form asp-action="DeleteEducation" asp-controller="Applicant" method="post" class="d-inline DeleteEducation">
                                            <input type="hidden" name="id" value="@item._id" />
                                        <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
                                            <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="bx bx-stop-circle me-1"></i> Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    </div>
</div>



@section PageScripts {
    <script>
        $(document).ready(function () {
            $('#tableList').DataTable();
            $(".DeleteEducation").on("submit", function (e) {
                e.preventDefault();
                Swal.fire({
                    icon: "question",
                    title: "Yakin ingin menghapus data ini?",
                    showCancelButton: true,
                    confirmButtonText: "Submit",
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.submit();
                    }
                });
            });

            $(".InactiveEducation").on("submit", function (e) {
                e.preventDefault();
                Swal.fire({
                    icon: "question",
                    title: "Yakin ingin inactivate data ini?",
                    showCancelButton: true,
                    confirmButtonText: "Submit",
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.submit();
                    }
                });
            });

            $(".ActivateEducation").on("submit", function (e) {
                e.preventDefault();
                Swal.fire({
                    icon: "question",
                    title: "Yakin ingin activate data ini?",
                    showCancelButton: true,
                    confirmButtonText: "Submit",
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.submit();
                    }
                });
            });
            $("#addEducation").on("click", function (e) {
                e.preventDefault();

                var url = "/Applicant/AddEducation";
                $.ajax({
                    url: url,
                    type: "GET",
                    cache: false, 
                    data: {
                        link: "@ViewBag.link"
                    },
                    success: function (data) {
                        $("#exampleModal .modal-dialog").html(data);
                        $("#exampleModal").modal('show');
                    },
                    error: function (xhr, status, err) {
                        console.error("AJAX error:", status, err);
                        alert("Gagal memuat form. Cek console untuk detail.");
                    }
                });
            });
            $(".EditEducation").on("click", function (e) {
                e.preventDefault();
                var url = "/Applicant/EditEducation";
                $.ajax({
                    url: url,
                    type: "GET",
                    cache: false,
                    data: {
                        id: $(this).attr("data-itemid"),
                        link: "@ViewBag.link"
                    },
                    success: function (data) {
                        $("#exampleModal .modal-dialog").html(data);
                        $("#exampleModal").modal('show');
                    },
                    error: function (xhr, status, err) {
                        console.error("AJAX error:", status, err);
                        alert("Gagal memuat form. Cek console untuk detail.");
                    }
                });
            });
        });
    </script>
}