@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/vendor/libs/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/popper/popper.js" asp-append-version="true"></script>
    <script src="~/vendor/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js" asp-append-version="true"></script>
    <script src="~/vendor/js/menu.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="w-100 h-100 col d-flex justify-content-center align-items-center">
        <form method="post" asp-action="CreateNewPassword" asp-controller="Surveyer" id="formCreate">
            <div class="card card-primary">
                <div class="card-header">
                    <h2>Form Surveyer</h2>
                </div>
                <div class="card-body">
                    <div class="row gap-3">
                        <label> <b>Username : </b> @ViewBag.username</label>
                        <input type="text" id="nama" name="nama" value="" class="form-control" placeholder="Nama Surveyer..." />
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password Surveyer..." />
                        <input type="password" id="passwordRet" name="passwordRet" class="form-control" placeholder="Ketik Ulang Password Surveyer..." />
                        <input type="hidden" name="username" value="@ViewBag.username" />
                        <input type="hidden" name="key" value="@ViewBag.key" />
                    </div>
                    <div class="col d-flex justify-content-center align-items-center mt-2">
                        <b id="minKarakter" style="color:red">Minimal 8 Karakter </b> |
                        <b id="minBesar" style="color:red">Terdapat Huruf Besar </b> |
                        <b id="minKecil" style="color:red">Terdapat Huruf Kecil </b>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center mt-2">
                        <b id="minAngka" style="color:red">Terdapat Angka </b> |
                        <b id="minSama" style="color:red">Password Sama </b>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row d-flex gap-3">
                        <input class="btn btn-danger text-light" type="submit" value="Submit" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        function validatePassword() {
            var pass = $("#password").val();
            var passRet = $("#passwordRet").val();

            if (pass.length >= 8) {
                $("#minKarakter").css("color", "green");
            } else {
                $("#minKarakter").css("color", "red");
            }

            if (/[A-Z]/.test(pass)) {
                $("#minBesar").css("color", "green");
            } else {
                $("#minBesar").css("color", "red");
            }

            if (/[a-z]/.test(pass)) {
                $("#minKecil").css("color", "green");
            } else {
                $("#minKecil").css("color", "red");
            }

            if (/[0-9]/.test(pass)) {
                $("#minAngka").css("color", "green");
            } else {
                $("#minAngka").css("color", "red");
            }

            if (pass && pass === passRet) {
                $("#minSama").css("color", "green");
            } else {
                $("#minSama").css("color", "red");
            }
        }

        function validateName(e){
            var nama = $("#nama").val();
            var regex = /^[a-zA-Z\s]*$/;

            if (!regex.test(nama)) {
             $("#nama").val(nama.replace(/[^a-zA-Z\s]/g, ''));
                e.preventDefault();
            }
        }

        $("#nama").on("keyup",function(e){
               validateName(e);
        });

        $("#password, #passwordRet").on("keyup", function () {
            validatePassword();
        });
        @if (TempData["icon"] != null)
        {
            <text>
                        Swal.fire({
                            title: '@TempData["titlePopUp"]',
                        text: '@TempData["text"]',
                        icon: '@TempData["icon"]'
                                 });
            </text>
            TempData.Remove("titlePopUp");
            TempData.Remove("text");
            TempData.Remove("icon");

        }

        // $("#formCreate").on("submit", function () {
        //     var pass = $("#password").val();
        //     var passRet = $("#passwordRet").val();
        //     if (!(pass.length >= 8)) {
        //        / alert("Password minimal memiliki 8 karakter!");
        //         return false;
        //     }

        //     if (!(/[A-Z]/.test(pass))) {
        //         alert("Password minimal memiliki 1 karakter besar!");
        //         return false;
        //     }

        //     if (!(/[a-z]/.test(pass))) {
        //         alert("Password minimal memiliki 1 karakter kecil!");
        //         return false;
        //     }

        //     if (!(/[0-9]/.test(pass))) {
        //         alert("Password minimal memiliki 1 angka!");
        //         return false;
        //     }

        //     if (!(pass && pass === passRet)) {
        //         alert("Password harus sama!");
        //         return false;
        //     }
        // })
        $("#formCreate").on("submit", function () {
            var pass = $("#password").val();
            var passRet = $("#passwordRet").val();
            if (!(pass.length >= 8)) {
                //alert("Password minimal memiliki 8 karakter!");
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Password minimal memiliki 8 karakter!"
                });
                return false;
            }

            if (!(/[A-Z]/.test(pass))) {
                //alert("Password minimal memiliki 1 karakter besar!");
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Password minimal memiliki 1 karakter besar!"
                });
                return false;
            }

            if (!(/[a-z]/.test(pass))) {
                // alert("Password minimal memiliki 1 karakter kecil!");
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Password minimal memiliki 1 karakter kecil!"
                });
                return false;
            }

            if (!(/[0-9]/.test(pass))) {
                //alert("Password minimal memiliki 1 angka!");
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Password minimal memiliki 1 angka!"
                });
                return false;
            }

            if (!(pass && pass === passRet)) {
                //alert("Password harus sama!");
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Password harus sama!"
                });
                return false;
            }
        })
    });
</script>

