@{
    Layout = null;
}
@model List<AdminJobWeb.Models.Account.surveyers>

<div class="modal-content">
    <form asp-action="RejectSurveyer" asp-controller="Validasi" method="post" class="formPop">
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Create New Surveyer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <input type="hidden" name="idSurveyer" class="form-control" value="@ViewBag.idSurveyer">
                <input type="hidden" name="idPerusahaan" class="form-control" value="@ViewBag.idPerusahaan">
                <input type="hidden" name="id" class="form-control" value="@ViewBag.id">
                <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
            </div>
            <div class="row">
                <div class="col mb-6">
                    <textarea name="alasanReject" class="form-control" id="alasanReject" placeholder="Alasan Reject...."></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Reject Surveyer</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .swal2-container {
        z-index: 20000 !important;
    }
</style>
<script>
    $(document).ready(function () {
        $(".formPop").on("submit", function (e) {
            e.preventDefault();
                          const re = /^[A-Za-z0-9 _\-\(\)\/\\]{0,150}$/;
              const val1 = $('#alasanReject').val();

            if (!re.test(val1)) {
                e.preventDefault();
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Input alasan Reject Tidak Valid."
                });
                return false;
            }

            Swal.fire({
                icon: "question",
                title: "Yakin data sudah lengkap?",
                showCancelButton: true,
                confirmButtonText: "Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            });
        });
    });
</script>