@{
    Layout = null;
}
@model List<AdminJobWeb.Models.Company.PerusahaanSurvey>

<div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Create New Surveyer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
        <div class="modal-body">
            <div class="row">
                <input type="hidden" name="idSurveyer" class="form-control" value="@ViewBag.idSurveyer">
                <input type="hidden" name="idPerusahaan" class="form-control" value="@ViewBag.idPerusahaan">
                <input type="hidden" name="id" class="form-control" value="@ViewBag.id">
            </div>
            <div class="row">
                <div class="col mb-6">
                    <textarea name="alasanReject" class="form-control" placeholder="Alasan Reject...." readonly>@Model[0].alasanReject </textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
</div>
