@model AdminJobWeb.Models.Applicant.Experience;
@{
    Layout = null;
}

<div class="modal-content">
    <form asp-action="EditExperience" asp-controller="Applicant" method="post" class="formPop">
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Edit Experience</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <input type="hidden" name="_id" value="@Model._id" />
        <div class="modal-body">
            <div class="row">
                <div class="col mb-6">
                    <label asp-for="namaPerusahaan" class="form-label">Nama Perusahaan</label>
                    <input type="text" id="nama" asp-for="namaPerusahaan" class="form-control" value="@Model.namaPerusahaan" required>
                    <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
                </div>
            </div>
            <div class="row">
                <div class="col mb-6">
                    <label asp-for="industri" class="form-label">Industri</label>
                    <input type="text" asp-for="industri" id="industri" class="form-control" value="@Model.industri" required>
                </div>
            </div>

            <div class="row">
                <div class="col mb-6">
                    <label asp-for="lokasi" class="form-label">Lokasi</label>
                    <textarea asp-for="lokasi" id="lokasi" class="form-control" required>@Model.lokasi</textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .swal2-container {
        z-index: 20000 !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#nama, #lokasi, #industri").on("keypress", function (e) {
            const char = String.fromCharCode(e.which);
            const re = /^[A-Za-z0-9 _\-\(\)\/\\]$/;
            if (!re.test(char)) {
                e.preventDefault();
            }
        });

        $(".formPop").on("submit", function (e) {
            e.preventDefault();
            const re = /^[A-Za-z0-9 _\-\(\)\/\\]{0,50}$/;
            const val1 = $('#nama').val();
            const val2 = $('#lokasi').val();
            const val3 = $('#industri').val();

            if (!re.test(val1)) {
                e.preventDefault();
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Input Nama Tidak Valid."
                });
                return false;
            }

            if (!re.test(val2)) {
                e.preventDefault();
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Input lokasi Tidak Valid."
                });
                return false;
            }

            if (!re.test(val3)) {
                e.preventDefault();
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Input industri Tidak Valid."
                });
                return false;
            }

            Swal.fire({
                icon: "question",
                title: "Yakin data sudah lengkap?",
                showCancelButton: true,
                confirmButtonText: "Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            });
        });
    });
</script>