@using System.Text.Json
@using AdminJobWeb.Models.Account
@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
    string? currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    string? currentAction = ViewContext.RouteData.Values["action"]?.ToString();

    var menuItems = TempData.Peek("menuItems") is string json
        ? JsonSerializer.Deserialize<List<MenuItem>>(json)
        : new List<MenuItem>();

    var groupedMenus = menuItems!
        .GroupBy(m => m.menu)
        .ToList();
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        @foreach (var group in groupedMenus)
        {
            if (group.Count() == 1 && string.IsNullOrEmpty(group.First().subMenu))
            {
                // Single menu item, no dropdown
                var item = group.First();
                bool isActive = currentController?.Equals(item.controller, StringComparison.OrdinalIgnoreCase) == true;

                <li class='menu-item@(isActive ? " active" : "")'>
                    <a asp-action="@item.action" asp-controller="@item.controller" class="menu-link">
                        <i class="menu-icon tf-icons @item.icon"></i>
                        <div>@item.menu</div>
                    </a>
                </li>
            }
            else
            {
                // Dropdown menu
                bool hasActiveChild = group.Any(i => currentController?.Equals(i.controller, StringComparison.OrdinalIgnoreCase) == true);

                <li class='menu-item@(hasActiveChild ? " active open" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons @group.First().icon"></i>
                        <div class="text-truncate" data-i18n="@group.Key">@group.Key</div>
                    </a>
                    <ul class="menu-sub">
                        @foreach (var sub in group)
                        {
                            bool isSubActive = currentController?.Equals(sub.controller, StringComparison.OrdinalIgnoreCase) == true
                            && currentAction?.Equals(sub.action, StringComparison.OrdinalIgnoreCase) == true;

                            <li class='menu-item@(isSubActive ? " active" : "")'>
                                <a asp-action="@sub.action" asp-controller="@sub.controller" class="menu-link">
                                    <div>@sub.subMenu</div>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</aside>
<!-- / Menu -->
