@model List<AdminJobWeb.Models.Company.Company>
@{
    ViewData["Title"] = "Admin Dashboard - Company Management";
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">Company List</h5>

    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover" id="tableList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>No Telp</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @{
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.nama</td>
                                <td>@item.email</td>
                                <td>@item.noTelp</td>
                                <td>@item.statusAccount</td>
                                <td>
                                    @if (item.statusAccount == "Active")
                                    {
                                        <form asp-action="BlockCompany" asp-controller="Company" method="post" class="d-inline BlockCompany">
                                            @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@item._id" />
                                            <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
                                            <button type="submit" class="btn btn-warning btn-sm">
                                                <i class="bx bx-block me-1"></i> Block
                                            </button>
                                        </form>
                                    }
                                    else if (item.statusAccount == "Block")
                                    {
                                        <form asp-action="ActivateCompany" asp-controller="Company" method="post" class="d-inline ActivateCompany">
                                            @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@item._id" />
                                            <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <i class="bx bx-check me-1"></i> Activate
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <label class="text-warning text-wrap w-50">Menunggu Validasi</label>
                                    }
                                    <form asp-action="DeleteCompany" asp-controller="Company" method="post" class="d-inline DeleteCompany">
                                        @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item._id" />
                                        <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="bx bx-stop-circle me-1"></i> Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section PageScripts {
    <script>
        $(document).ready(function() {
          $('#tableList').DataTable();
        });
        $(".BlockCompany").on("submit", function (e) {
            e.preventDefault();
            Swal.fire({
                icon: "question",
                title: "Yakin ingin block data ini?",
                showCancelButton: true,
                confirmButtonText: "Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            });
        });

        $(".ActivateCompany").on("submit", function (e) {
            e.preventDefault();
            Swal.fire({
                icon: "question",
                title: "Yakin ingin activate data ini?",
                showCancelButton: true,
                confirmButtonText: "Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            });
        });

        $(".DeleteCompany").on("submit", function (e) {
            e.preventDefault();
            Swal.fire({
                icon: "question",
                title: "Yakin ingin menghapus data ini?",
                showCancelButton: true,
                confirmButtonText: "Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            });
        });
    </script>
}